@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 20, 21, 28;
  --background-rgb: 246, 245, 241;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}